@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Awareness Program</h1>
    <p>Learn about Digital Banking and the upcoming technology in Mobile Banking.</p>
</div>
